<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <div class="header">
                <a href="" class="logo">
                    <img src="{% static 'img/main-page/logo.svg' %}" alt="Logo"/>
                </a>

                <nav>
                    <ul class="nav">
                        <li><a href="/programs">Программы</a></li>
                        <li><a href="#">Документы</a></li>
                        <li><a href="#">Компетенции</a></li>
                        <li><a href="#">Дисциплины</a></li>
                        <li><a href="#">Преподаватели</a></li>
                        <li><a href="#">Студенты</a></li>
                    </ul>
                </nav>

                <ul class="right-nav">
                    <li class="user">
                        <a href="">
                            <img src="{% static 'img/main-page/user.svg' %}" alt="User"/>
                        </a>
                    </li>
                    <li class="search">
                        <a href="">
                            <img src="{% static 'img/main-page/search.svg' %}" alt="User"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <span>EdVisionfrash</span>
            <span class="footer-right">июнь 2020</span>
        </div>
    </footer>
</body>
</html>