{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="main-page">
        <div class="offer">
            <div class="background">
                <img class="bg-img-1" src="{% static 'img/main-page/bg-img.svg' %}" alt=""/>
                <img class="bg-img-2" src="{% static 'img/main-page/bg-img-2.svg' %}" alt=""/>
            </div>
            <div class="content">
                <h1>Свежий взгляд</h1>
                <h2>система оценки эффективности образовательных программ</h2>
            </div>
        </div>
        <div class="people">
            <div class="people-1">
                <img class="ellipse" src="{% static 'img/main-page/Ellipse-2.svg' %}" alt=""/>
                <div class="people-content">
                    <div class="title">Лучший студент</div>
                    <div class="text">Петрова Светлана</div>
                </div>
            </div>
            <div class="people-2">
                <img class="ellipse" src="{% static 'img/main-page/Ellipse-3.svg' %}" alt=""/>
                <div class="people-content">
                    <div class="title">Молодой специалист</div>
                    <div class="text">Тарасов Сергей</div>
                </div>
            </div>
            <div class="people-3">
                <img class="ellipse" src="{% static 'img/main-page/Ellipse-4.svg' %}" alt=""/>
                <div class="people-content">
                    <div class="title">Педагог года</div>
                    <div class="text">Белованова Ольга Александровна</div>
                </div>
            </div>
        </div>
        <div class="elite-programs">
            <div class="elite-programs-title">Элитные программы</div>
            <ul>
                <li>38.04.06 - Торговое дело</li>
                <li>38.04.08 - Финансы и кредит</li>
                <li>39.04.02 - Социальная работа</li>
                <li>40.04.01 - Юриспруденция</li>
                <li>42.04.01 - Реклама и связи с общественностью</li>
            </ul>
        </div>
    </div>
{% endblock %}
